openapi: 3.1.0
info:
  version: 1.0.0
  title: Lightspeed Restaurant K Series Account Brands API
  description: '**Lightspeed Restaurant** offers a **REST API** in order to communicate with the data in the system. These APIs are built using the RESTful standards and adhere to the basic verb interactions as defined by the REST standard.

    Detailed developer guides can be found in the [Lightspeed Restaurant API Portal](https://api-portal.lsk.lightspeed.app/).

    These services are in continuous development and subject to change. Please find our versioning policy [here](https://api-portal.lsk.lightspeed.app/quick-start/versioning).

    '
  x-logo:
    altText: Lightspeed Commerce
    url: static/lightspeed@2x.png
  contact:
    name: Lightspeed Commerce
    url: https://api-portal.lsk.lightspeed.app/
  x-generated-from: documentation
  x-last-validated: '2026-06-02'
  x-source-url: https://api-docs.lsk.lightspeed.app/source.json
servers:
- url: https://api.trial.lsk.lightspeed.app
  description: Demo URL
  x-bump-branch-name: demo
- url: https://api.lsk.lightspeed.app
  description: Production URL
  x-bump-branch-name: prod
tags:
- name: Brands
paths:
  /brands:
    get:
      summary: Lightspeed List Brands
      operationId: listBrands
      security:
      - OAuth2:
        - products.read
      parameters:
      - name: page_size
        in: query
        schema:
          type: integer
          default: 50
      - name: after
        in: query
        description: Cursor for paging.
        schema:
          type: integer
      responses:
        '200':
          description: A page of brands.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Brand'
              examples:
                ListBrands200Example:
                  summary: Default listBrands 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: 3f2504e0-4f89-41d3-9a0c-0305e82c3301
                      name: Sample name
                      description: example
                      deleted_at: '2026-03-15T14:30:00Z'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Brands
    post:
      summary: Lightspeed Create a Brand
      operationId: createBrand
      security:
      - OAuth2:
        - products.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Brand'
            examples:
              CreateBrandRequestExample:
                summary: Default createBrand request
                x-microcks-default: true
                value:
                  id: 3f2504e0-4f89-41d3-9a0c-0305e82c3301
                  name: Sample name
                  description: example
                  deleted_at: '2026-03-15T14:30:00Z'
      responses:
        '201':
          description: Brand created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Brand'
              examples:
                CreateBrand201Example:
                  summary: Default createBrand 201 response
                  x-microcks-default: true
                  value:
                    id: 3f2504e0-4f89-41d3-9a0c-0305e82c3301
                    name: Sample name
                    description: example
                    deleted_at: '2026-03-15T14:30:00Z'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Brands
  /brands/{id}:
    get:
      summary: Lightspeed Get a Brand by ID
      operationId: getBrand
      security:
      - OAuth2:
        - products.read
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The brand.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Brand'
              examples:
                GetBrand200Example:
                  summary: Default getBrand 200 response
                  x-microcks-default: true
                  value:
                    id: 3f2504e0-4f89-41d3-9a0c-0305e82c3301
                    name: Sample name
                    description: example
                    deleted_at: '2026-03-15T14:30:00Z'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Brands
    put:
      summary: Lightspeed Update a Brand
      operationId: updateBrand
      security:
      - OAuth2:
        - products.write
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Brand'
            examples:
              UpdateBrandRequestExample:
                summary: Default updateBrand request
                x-microcks-default: true
                value:
                  id: 3f2504e0-4f89-41d3-9a0c-0305e82c3301
                  name: Sample name
                  description: example
                  deleted_at: '2026-03-15T14:30:00Z'
      responses:
        '200':
          description: Brand updated.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Brands
    delete:
      summary: Lightspeed Delete a Brand
      operationId: deleteBrand
      security:
      - OAuth2:
        - products.write
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: Brand deleted.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Brands
components:
  schemas:
    Brand:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        deleted_at:
          type: string
          format: date-time
          nullable: true
  securitySchemes:
    OAuth2:
      description: 'The Lightspeed Restaurant K-Series APIs support OAuth2 authentication using the [authorization code grant flow](https://www.oauth.com/oauth2-servers/server-side-apps/authorization-code/).

        See our [Authorization Quick Start Guide](https://api-portal.lsk.lightspeed.app/quick-start/authentication/authorization-overview) for more details on how to authenticate.

        '
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: /oauth/authorize
          tokenUrl: /oauth/token
          scopes:
            orders-api: 'Read business information, floors, menus, discounts, and production instructions.

              Read and write orders and payments. Read [Rich Item](https://api-docs.lsk.lightspeed.app/prod/group/endpoint-rich-item) data.'
            financial-api: Read financial data
            reservation-***: Platform reservations scope. The `***` will be replaced by the [platform-code](https://api-docs.lsk.lightspeed.app/operation/operation-reservation-servicesetbyplatformcode#operation-reservation-servicesetbyplatformcode-platform-code) of the reservation platform.
            items: Read and write items
            propertymanagement: Read and write Property Management System configurations.
            id-cards: Create and manage ID card batches and cards.
            staff-api: Read shift information, read and write user information.
            reservations-api: 'Configure *legacy* reservation integrations.

              **Note:** This API will eventually be deprecated in favour of the new [Reservations for Platforms](https://api-docs.lsk.lightspeed.app/group/endpoint-reservations-for-platforms) API.

              More information on the new reservations workflows can be found in the [Integration Guide](https://api-portal.lsk.lightspeed.app/category/reservations).'
x-tagGroups:
- name: Rich Item API
  tags:
  - Rich Item
  - Migration
- name: Tax Preview API
  tags:
  - Tax Breakdown
- name: Staff Api
  tags:
  - Staff
  - Internal Staff
- name: Reservation API
  tags:
  - Reservations for Platforms
- name: PMS API
  tags:
  - PMS
- name: Items API
  tags:
  - Items
  - ItemsV2
  - Menus
  - Buttons
  - Production Instructions
  - Inventory
  - Combos
  - Groups
  - MenusV2
  - Accounting Group
  - IntegrationMenu
  - Price Lists
  - Products
  - ItemAppearance
  - Modifiers
  - ModifierGroups
  - Allergens
  - Locales
  - RichItem
- name: id-cards-api API
  tags:
  - ID Cards
- name: Financial API
  tags:
  - Financial
  - FinancialV2
- name: Online Ordering API
  tags:
  - Order and Pay
  - 'Order and Pay: Webhook'
