openapi: 3.2.0
info:
  title: Lightspeed Retail R-Series Account API
  description: 'OpenAPI 3.1 representation of the Lightspeed Retail R-Series REST API

    (the original Lightspeed Retail / Retail Pro cloud POS). The R-Series API

    is documented at https://developers.lightspeedhq.com/retail/introduction/introduction/

    and exposes account-scoped resources under

    https://api.lightspeedapp.com/API/V3/Account/{accountID}. It uses OAuth 2.0

    with scope-based access control and supports both JSON (`.json`) and XML

    response formats. The numeric `accountID` is not the OAuth client_id; it

    must be resolved via `GET /API/V3/Account.json` immediately after the token

    exchange and is required for every subsequent account-scoped call.

    '
  version: 3.0.0
  contact:
    name: Lightspeed Commerce
    url: https://developers.lightspeedhq.com/retail/introduction/introduction/
  x-generated-from: documentation
  x-last-validated: '2026-06-02'
  x-source-url: https://developers.lightspeedhq.com/retail/introduction/introduction/
servers:
- url: https://api.lightspeedapp.com/API/V3
  description: Lightspeed Retail R-Series API host.
security:
- OAuth2: []
tags:
- name: Account
  description: The Lightspeed Retail account associated with the access token.
paths:
  /Account.json:
    get:
      summary: Lightspeed List Accounts
      operationId: getAccount
      description: Returns the Lightspeed Retail R-Series account associated with the access token. Call this immediately after the OAuth token exchange to resolve the numeric accountID required by all other endpoints.
      tags:
      - Account
      security:
      - OAuth2:
        - employee:all
      responses:
        '200':
          description: The account associated with the access token.
          content:
            application/json:
              schema:
                type: object
                properties:
                  Account:
                    $ref: '#/components/schemas/Account'
              examples:
                GetAccount200Example:
                  summary: Default getAccount 200 response
                  x-microcks-default: true
                  value:
                    Account:
                      accountID: '500123'
                      name: Sample name
                      link: example
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Account:
      type: object
      description: A Lightspeed Retail R-Series account.
      properties:
        accountID:
          type: string
          description: Unique numeric account identifier.
        name:
          type: string
          description: Account / business name.
        link:
          type: string
          description: API self-link for the account.
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth 2.0 authorization-code flow with scope-based access control.
      flows:
        authorizationCode:
          authorizationUrl: https://cloud.lightspeedapp.com/oauth/authorize.php
          tokenUrl: https://cloud.lightspeedapp.com/oauth/access_token.php
          scopes:
            employee:all: Full access to all account resources.
            employee:admin: Manage employees and shops.
            employee:inventory: Create and modify inventory items.
            employee:inventory_read: Read inventory items and catalog.
            employee:register: Create sales at the register.
            employee:reports: Read sales and reporting data.
            employee:customers: Create and modify customers.
            employee:customers_read: Read customers.
